!
<h3><%= message %></h3>
<br> <br>
    <form action="/register" method="POST">

        <label for="firstname">Firstname:</label>
        <input type="text" name="firstname" id="firstname">

        <label for="lastname">Lastname:</label>
        <input type="text" name="lastname">

        <label for="email">Email:</label>
       <input type="email" name="email">

       <button type="submit">submit</button>

    </form>
